<!DOCTYPE html> <!-- for structure of the website -->
<html lang="en">
    <head>
        <!-- for displaying special character -->
    <meta charset="UTF-8">
    <title>Project Archive</title>
        <!-- for connecting CSS file -->
    <link rel="stylesheet" href="style.css">
    </head>

<body>
    <header class="navbar">
        <div class="logo">
        Project Archive
        </div>

        <nav>
                <a href="#">Home</a>
                <a href="#">About</a>
                <a href="#">FAQ</a>
                <a href="#">Login</a>
        </nav>
    </header>

    <h2> Account Registration </h2>
     
<div class="createacc-box">
    <form action="home.html">
    <label for="email"> Email: </label> <br>
    <input type="email" id="email" placeholder="Enter Email Address" required> <br><br>
    <label for="pass"> Password: </label> <br>
    <input type="password" id="pass" placeholder="Enter Password" required> <br><br>
    <label for="confirmpass"> Confirm Password: </label> <br>
    <input type="password" id="confirmpass" placeholder="Confirm Password" required> <br><br>
    <button type="submit"> Create Account </button>
    <p> Have an account already? <br> <a href=" "> Login Here </a> </p>
    </form>

</div>
        <!-- for connecting JavaScript file -->
    <script src="script.js"></script>
    

</html>