{% extends 'base.html' %}

{% block title %} Login {% endblock %}

{% block style %} {{ url_for('static', filename='style.css') }} {% endblock %}

{% block content %}
<main class="flex-grow flex flex-col items-center justify-center">
    <h1 class="text-3xl font-bold text-[#626A53] mb-4 serif-title mt-4">Sign In</h1>
    <div class="createacc-box">
        <form class="space-y-4" method="post">

            <div class="space-y-1">
                <label class="text-sm font-semibold">Email:</label>
                <input name="email" type="email" class="bg-input w-full" required>
            </div>

            <div class="space-y-1 relative">
                <label class="text-sm font-semibold">Password:</label>
                <div class="relative">
                    <input name="password" id="login_password" type="password" class="bg-input w-full" required>
                    <div class="absolute right-4 top-1/2 -translate-y-1/2 opacity-50 hover:opacity-100 transition cursor-pointer toggle-password" data-target="login_password">
                        <i class="fa-solid fa-eye-slash text-lg"></i>
                    </div>
                </div>
            </div>

            <div class="pt-4 flex flex-col items-center gap-3">
                <button type="submit" class="createacc-btn">
                    Login
                </button>
                <div class="text-center text-gray-500 text-sm">
                    Don’t have an account yet? <br>
                    <a href="{{ url_for('auth.register') }}" class="text-[#7E8C69] hover:underline underline-offset-4 font-semibold">Register Here</a>
                </div>
            </div>

        </form>
    </div>
</main>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const toggleButtons = document.querySelectorAll('.toggle-password');
        
        toggleButtons.forEach(button => {
            button.addEventListener('click', function() {
                const targetId = this.getAttribute('data-target');
                const input = document.getElementById(targetId);
                const icon = this.querySelector('i');
                
                if (input.type === 'password') {
                    input.type = 'text';
                    icon.classList.remove('fa-eye-slash');
                    icon.classList.add('fa-eye');
                } else {
                    input.type = 'password';
                    icon.classList.remove('fa-eye');
                    icon.classList.add('fa-eye-slash');
                }
            });
        });
    });
</script>
{% endblock %}
