{% extends 'base.html' %}

{% block content %}
<div class="max-w-6xl mx-auto flex flex-col md:flex-row gap-6 h-[85dvh] pt-4">

    <aside class="w-full md:w-64 bg-white flex flex-col justify-between p-4">
        <nav class="flex flex-col gap-2">
            <a href="#" class="flex items-center gap-3 p-3 ">
                <i class="fa-solid fa-circle-plus"></i> Dashboard
            </a>
            <a href="#" class="flex items-center gap-3 p-3">
                <i class="fa-solid fa-circle-plus"></i> Profile
            </a>
            <a href="#" class="flex items-center gap-3 p-3">
                <i class="fa-solid fa-circle-plus"></i> Bookmarks
            </a>
            <a href="#" class="flex items-center gap-3 p-3">
                <i class="fa-solid fa-circle-plus"></i> History
            </a>
        </nav>
        <a href="#" class="flex items-center gap-3 p-3">
            <i class="fa-solid fa-circle-plus"></i> Logout
        </a>
    </aside>
    {% block main %}{% endblock %}

</div>
{% endblock %}
