{% extends 'sidebar.html' %}

{% block title %} Dashboard {% endblock %}
{% block style %} {{ url_for('static', filename='index_style.css') }} {% endblock %}

{% block main %}
<main class="flex-1 flex flex-col gap-6">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-4">
        
        <div class="bg-white p-4 flex flex-col items-center justify-center gap-3 ">
            <i class="fa-solid fa-lightbulb"></i>
            <span class="font-bold text-lg">Projects: 3</span>
        </div>

        <div class="bg-white p-4 flex flex-col items-center justify-center gap-3 ">
            <i class="fa-solid fa-magnifying-glass"></i>
            <span class="font-bold text-lg">Under review: 2</span>
        </div>

        <div class="bg-white p-4 flex flex-col items-center justify-center gap-3 ">
            <i class="fa-solid fa-certificate"></i>
            <span class="font-bold text-lg">Approved: 1</span>
        </div>

        <a href="#">
            <div class="card card-sage p-4 flex flex-col items-center justify-center gap-3">
            <i class="fa-solid fa-plus text-5xl"></i>
            <span class="font-bold text-xl">Submit Project</span>
            </div>
        </a>
    </div>

    <div class="card-sage p-6 flex-1 flex flex-col rounded-xl">
        <h2 class="text-3xl font-bold text-white mb-2 ">Projects</h2>
        <hr class="border-white mb-6 ">

        <div class="flex flex-col gap-4 overflow-y-auto pr-3">
            <!-- 
            UNDER REVIEW from-[#E04B40] to-[#B02820]
            REJECT       from-[#EED575] to-[#C9A52B] 
            -->
            <div class="bg-white rounded-xl p-4 md:px-6 flex items-center justify-between shadow-sm shrink-0">
                <div class="flex items-center gap-4">
                    <i class="text-black fa-solid fa-robot "></i>
                    <div>
                        <h3 class="text-black font-bold">Computer Science Thesis Title</h3>
                        <span class="text-black font-bold">2026</span>
                    </div>
                </div>
                <div class="status-badge bg-gradient-to-b from-[#7FB169] to-[#568A45] text-white px-6 md:px-8 py-2 md:py-3 rounded-full font-bold text-lg">
                    Approved
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
