{% extends 'sidebar.html' %}

{% block title %} Dashboard {% endblock %}
{% block style %} {{ url_for('static', filename='index_style.css') }} {% endblock %}

{% block main %}
<main class="flex-1 flex flex-col gap-6">
    <div class="card-sage p-6 flex-1 flex flex-col min-h-0">
        <h2 class="text-3xl font-bold text-white mb-2 ">Thesis Submission Form</h2>
        <hr class="border-white mb-6 ">

        <div class="flex-1  gap-4 overflow-y-auto pr-3">
            <form class="flex flex-col gap-8">
                
                <div class="grid grid-cols-1 md:grid-cols-4 gap-4">
                    <div class="md:col-span-1 flex items-start gap-2">
                        <label class="font-bold text-lg">Authors</label>
                    </div>
                    <div class="md:col-span-3 flex flex-col gap-5">
                        <div class="grid grid-cols-3 gap-4">
                            <div class="flex flex-col gap-1">
                                <input type="text" class="w-full p-2 " />
                                <span class="text-sm italic">Last Name</span>
                            </div>
                            <div class="flex flex-col gap-1">
                                <input type="text" class="w-full p-2 " />
                                <span class="text-sm italic">First Name</span>
                            </div>
                            <div class="flex flex-col gap-1">
                                <input type="text" class="w-full p-2" />
                                <span class="text-sm italic">Middle Initial</span>
                            </div>
                        </div>
                        
                    </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-4 gap-4 items-center">
                    <div class="md:col-span-1">
                        <label class="font-bold text-lg">Research Title</label>
                    </div>
                    <div class="md:col-span-3">
                        <input type="text" value="The Cat and the Dog" class="w-full p-3 border rounded-md" />
                    </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-4 gap-4 items-start">
                    <div class="md:col-span-1">
                        <label class="font-bold text-lg">Abstract</label>
                    </div>
                    <div class="md:col-span-3">
                        <textarea rows="6" class="w-full p-3 border rounded-md resize-none">meowmeowmeowmeowmeow</textarea>
                    </div>
                </div>

                <div class="grid grid-cols-1 md:grid-cols-4 gap-4 items-center">
                    <div class="md:col-span-1">
                        <label class="font-bold text-lg leading-tight block">Date of<br>Submission</label>
                    </div>
                    <div class="md:col-span-3">
                        <div class="inline-flex items-center gap-3 p-2 px-3 border rounded-md">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect>
                                <line x1="16" y1="2" x2="16" y2="6"></line>
                                <line x1="8" y1="2" x2="8" y2="6"></line>
                                <line x1="3" y1="10" x2="21" y2="10"></line>
                            </svg>
                            <input type="text" value="04/20/2026" class="outline-none bg-transparent w-full" />
                        </div>
                    </div>
                </div>
                
            </form>

        </div>
    </div>
</main>
{% endblock %}
