{% extends 'base.html' %}

{% block title %} Home {% endblock %}
{% block style %} {{ url_for('static', filename='index_style.css') }} {% endblock %}

{% block content %}
<main class="max-w-6xl mx-auto mt-16 text-center">
    <h2 class="text-3xl mb-6">Browse Theses/Capstone Projects</h2>
    
    <div class="search-container">
        <form method="post" style="margin: 0; padding: 0; width: 40%;">
            <input name="search" type="text" placeholder="Enter search terms" class="search-input">
        </form>
        <button class="search-btn">
            <i class="fa-solid fa-magnifying-glass logo-dark"></i>
        </button>
    </div>

    <div class="category-grid">
        {% for department in departments%}
        <a href="{{ url_for('thesis.department_theses', dept_id=department.id ) }}" class="card {{ 'card-white' if department.id is even else 'card-sage' }}">
            <span> {{ department.name }} </span>
            <i class="fa-solid fa-briefcase-clock"></i>
        </a>
        {% endfor %}
    </div>

</main>
{% endblock %}
